@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  width: 90%;
  height: 100%;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin: 1rem 2rem 2rem;
}

:focus {
  outline: none;
}

:placeholder {
  color: #767676;
}

.header {
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-logo {
  margin-left: -2rem;
}

.header .header-logo a {
  float: left;
}

.header .club-name {
  float: left;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 1rem;
  font-weight: 700;
  color: #01aa9d;
}

.header .nav {
  margin-top: -1rem;
}

.header .nav .ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.header .nav .ul li a {
  text-decoration: none;
  color: #7c7c7c;
  font-weight: 700;
}

.header .nav .ul li:last-of-type a {
  background: #01aa9d;
  color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
}

.header .mobile-nav-btn {
  display: none;
  cursor: pointer;
}

.main {
  width: 60%;
  height: 80%;
}

.main .home {
  width: 100%;
  height: 80%;
  display: flex;
  column-gap: 50px;
}

.section-left {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.section-left p.bullet {
  margin-left: 1rem;
  margin-top: -1rem;
  /* text-align: justify; */
  text-align: left;
  font-size: 0.9rem;
}

.section-left p.bullet a {
  color: #7c7c7c;
  text-decoration: none;
}

.section-left p.bullet:before {
  content: "■ ";
  position: relative;
  color: #666;
  list-style-type: circle;
  margin-left: -0.8rem;
}

.section-left .label-header {
  background: #01aa9d;
  padding: 8px 25px;
  border-radius: 20px;
  width: fit-content;
}

.section-left .label-header p {
  color: #fff;
}

.section-left p {
  color: #7c7c7c;
}

.section-left .h1 {
  font-size: 40px;
  color: #555;
  font-weight: 900;
}

.section-left .h2 {
  font-size: 20px;
  color: #555;
  font-weight: 900;
}

.section-left form .form-group {
  display: flex;
  column-gap: 10px;
}

.section-left form .form-group input {
  background: #fff;
  padding: 10px 15px;
  width: 230px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.section-left form .form-group .button {
  background: #01aa9d;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
}

.section-right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-right img {
  width: 50%;
  position: absolute;
  top: 200px;
  left: 48%;
  transform: scaleX(-1);
}

.main .social {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.main .social .ul {
  list-style-type: none;
  display: flex;
  column-gap: 12px;
  justify-content: left;
}

.main .social .ul li a img {
  width: 30px;
  fill: #dedfe7;
}

.footer {
  height: 10%;
  width: 60%;
  display: grid;
  place-items: center;
}

.footer p {
  font-size: 14px;
  font-weight: 900;
}

.footer p a {
  color: #372865;
}

#mobile-nav {
  background-color: #01aa9d;
  width: 60%;
  margin: 0px auto;
  display: none;
}

#mobile-nav .nav {
  width: 100%;
  padding: 20px 0px;
}

#mobile-nav .nav .ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 5px;
}

#mobile-nav .nav .ul li {
  width: 100%;
  padding: 10px;
}

#mobile-nav .nav .ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

#mobile-nav .nav .ul li a:hover {
  color: black;
}

#mobile-nav.active {
  display: none;
}

@media screen and (max-width: 1400px) {
  .header {
    width: 75%;
    height: 20%;
  }

  .main {
    width: 75%;
    height: 70%;
  }

  .footer {
    height: 10%;
    width: 75%;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    width: 90%;
    height: 20%;
  }

  .main {
    width: 90%;
    height: 70%;
  }

  .footer {
    height: 10%;
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    height: auto;
  }

  .header {
    width: 90%;
    height: 50px;
  }

  .header .nav {
    display: none;
  }

  .header .mobile-nav-btn {
    display: block;
  }

  .main {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  .main .social {
    width: 100%;
    align-items: center;
  }

  .section-left {
    width: 100%;
    align-items: center;
    row-gap: 35px;
  }

  .section-left h1 {
    text-align: center;
  }

  .section-left p {
    text-align: center;
  }

  .section-right {
    display: none;
  }

  .footer {
    height: 40px;
    width: 90%;
    margin-bottom: 20px;
  }

  #mobile-nav {
    width: 90%;
  }

  #mobile-nav.active {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  body {
    height: auto;
  }

  .header {
    width: 90%;
    height: 50px;
    margin-top: 40px;
  }

  .header .nav {
    display: none;
  }

  .header .mobile-nav-btn {
    display: block;
  }

  .main {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  .section-left {
    width: 100%;
    align-items: center;
    row-gap: 35px;
  }

  .section-left h1 {
    text-align: center;
  }

  .section-left p {
    text-align: center;
  }

  .section-left form {
    width: 100%;
  }

  .section-left form .form-group {
    width: 100%;
    flex-direction: column;
    row-gap: 15px;
  }

  .section-left form .form-group input,
  .section-left form .form-group .button {
    width: 100%;
  }

  .section-right {
    display: none;
  }

  .footer {
    height: 40px;
    width: 90%;
    margin-bottom: 20px;
  }

  #mobile-nav {
    width: 90%;
  }
}
